/Roboflow.xcframework.zip filter=lfs diff=lfs merge=lfs -text
//Users/nicholasarner/Development/Freelance/2022/Roboflow/roboflow-ios-podspecs/Roboflow[[:space:]]Framework.zip filter=lfs diff=lfs merge=lfs -text
